<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.csj430.checkkirafancompatibility">

    <uses-sdk tools:overrideLibrary="com.google.android.gms.location, com.google.android.gms.base, com.google.android.gms.places_placereport, com.google.android.gms.tasks, com.google.android.gms.common, android.support.v4, android.support.mediacompat, android.support.fragment, android.support.coreutils, android.support.coreui, android.support.compat, android.arch.lifecycle" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="moe.csj430.checkkirafancompatibility.App"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="KiraFan Compatibility Checker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="moe.csj430.checkkirafancompatibility.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>